/* Base Styles */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
}

/* Layout Styles */
.layout-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar Styles */
.sidebar {
  width: 230px;
  background-color: #fff;
  padding: 0px;
  border-right: 1px solid #EAEAEA;
  top: 0;
  position: sticky;
  height: 100vh;
  flex-shrink: 0;
  background-color: white;
  z-index: 1000;
  transform: translateX(0);
  /* Default for desktop */
}

.sidebar.open {
  transform: translateX(0);
  /* Slide-in effect when open */
}

.sidebar.closed {
  transform: translateX(-230px);
  /* Slide-out effect when closed in mobile */
}

.sidebar .logo {
  display: flex;
  /* Enable flexbox */
  justify-content: start;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.logo img {
  width: 110px;
  /* Tentukan lebar logo */
  height: auto;
  /* Jaga proporsi tinggi secara otomatis */
}

.logo-desktop {
  width: 110px;
  /* Ukuran logo penuh */
  height: auto;
}

.logo-mobile {
  display: none;
  width: 10px;
  height: auto;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 0px;
}

/* Navigation Links - General Styles */
.sidebar ul li a {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: #333;
  font-size: 14.5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: relative;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

/* Icon Styles - Idle and Active */
.sidebar ul li a .nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.sidebar ul li a .nav-icon.active {
  display: none;
}

/* Navigation Text Styles - Idle and Active */
.sidebar ul li a .nav-text {
  font-size: 14.5px;
  font-weight: normal;
}

.sidebar ul li a.active .nav-text {
  font-weight: bold;
  color: #000;
}

/* When link is active, show active icon and hide idle */
.sidebar ul li a.active .nav-icon.idle {
  display: none;
}

.sidebar ul li a.active .nav-icon.active {
  display: block;
}

/* Active State Styles */
.sidebar ul li a.active {
  background: linear-gradient(90deg, #F0EFEF 0%, #FFFFFF 100%);
  font-weight: bold;
  border-left: 2px solid #FFFF5B;
  padding-left: 14px;
}

/* Hover State Styles */
.sidebar ul li a:hover {
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  color: #000;
}


/* Content Styles */
.content {
  flex-grow: 1;
  padding: 0px;
  background-color: #f9f9f9;
}

#page-content {
  padding: 0px;
}

/* Header Section */
.header {
  display: flex;
  padding: 12px 16px;
  justify-content: flex-start;
  /* Change from space-between to flex-start */
  align-items: center;
  margin-bottom: 0px;
  border-bottom: 1px solid #EAEAEA;
  /* Border bottom with specified color */

  /* Make header sticky */
  position: sticky;
  top: 0;
  background-color: white;
  /* Ensure the background covers content beneath */
  z-index: 500;
  /* Set a high z-index to ensure it's above other content */
}

.header h1 {
  font-size: 16px;
  margin-right: auto;
}

.header .hamburger {
  margin-right: 12px;
  display: none;
}

.header-icons {
  display: flex;
  gap: 16px;
}

.header-icons .icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

/* Filter Section */
.filter {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  background-color: #FFFFFF;
  padding: 12px 16px;
  margin-bottom: 0px;
  overflow-x: auto;
  /* Allows horizontal scrolling */
  white-space: nowrap;
  /* Prevents content wrapping */
  -webkit-overflow-scrolling: touch;
  /* Smooth scrolling on mobile devices */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.filter::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers (Firefox, IE, Edge) */
.filter {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Base styles for filter button */
.filter-button {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 24px;
  border: 1px solid #D0D0D0;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button .badge {
  background-color: #FF3D00;
  /* Red Badge Color */
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  /* Slightly smaller for the badge */
  margin-right: 8px;
}

.filter-button .title {
  font-weight: 500;
  margin-right: 8px;
}

.filter-button .divider {
  width: 1px;
  height: 16px;
  background-color: #D0D0D0;
  margin-right: 8px;
}

.filter-button .total {
  font-weight: 400;
  font-size: 13px;
  color: #666;
}

/* Active state */
.filter-button.active {
  background-color: #000000;
  color: white;
  border: none;
}

.filter-button.active .total {
  color: #B3B3B3;
}

.filter-button.active .divider {
  background-color: rgba(255, 255, 255, 0.3);
  /* White with transparency */
}

/* Hover state */
.filter-button:hover {
  background-color: #F4F4F4;
  border: 0px;
}

/* Idle state */
.filter-button.idle {
  background-color: transparent;
  color: black;
  border: 1px solid #D0D0D0;
}

/* Hover state */
.filter-button.idle:hover {
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
}

/* Hover state */
.filter-button.active:hover {
  background-color: #000000;
  border: none;
}

/* Grid Container for Cards */
.grid-container {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
  grid-gap: 8px;
  padding: 0px 8px 8px 8px;
}

.card {
  width: 100%;
  aspect-ratio: 128 / 168; /* Rasio aspek dari card sesuai gambar */
  background-color: #000000;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0;
  /* Mulai dari tidak terlihat */
  transform: translateY(50px);
  /* Mulai dari posisi agak di bawah */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.show {
  opacity: 1;
  /* Setelah terlihat, opacity menjadi 1 */
  transform: translateY(0);
  /* Kembali ke posisi aslinya */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Mobile View */
@media (max-width: 768px) {
  .layout-container {
    flex-direction: column;
  }

  /* Narrow sidebar, initially hidden off-screen */
  .sidebar {
    width: 60px;
    /* Narrower sidebar for mobile */
    transform: translateX(-60px);
    /* Slide-out effect (hidden) */
    transition: transform 0.3s ease;
    /* Smooth transition */
    position: fixed;
    /* Sidebar should not push content */
    top: 0;
    height: 100vh;
    /* Ensure sidebar takes up full height */
    z-index: 1000;
    /* Above content */
  }

  /* Sidebar open state (slide in) */
  .sidebar.open {
    transform: translateX(0);
    /* Slide-in effect (visible) */
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .sidebar .logo {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    width: 110px;
    height: auto;
    padding: 0px;
  }

  /* Sidebar items layout (centered icons) */
  .sidebar ul li a {
    justify-content: center;
    /* Center the icons */
  }

  /* Hide text in sidebar on mobile */
  .sidebar ul li a .nav-text {
    display: none;
    /* Hide the text labels */
  }

  /* Show hamburger icon on mobile */
  .header .hamburger {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  /* Ketika sidebar tertutup, margin-left dihilangkan */
  .content {
    transition: margin-left 0.3s ease;
    /* Tambahkan animasi transisi */
  }

  .sidebar.open+.content {
    margin-left: 60px;
    /* Atur content untuk memberi ruang untuk sidebar saat terbuka */
  }

  .sidebar+.content {
    margin-left: 0;
    /* Reset margin saat sidebar tertutup */
  }

  /* Center icons in the mobile sidebar */
  .sidebar ul li a .nav-icon {
    margin-right: 0;
  }

  /* Adjust sidebar icon size for mobile */
  .sidebar ul li a .nav-icon {
    width: 26px;
    height: 32px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
  }
}

/* Open sidebar for mobile */
.sidebar.open {
  display: block;
}